node_modules
backend/alembic.ini
backend/sayang.py
backend/config.py
backend/account.py
env/

apmsenv/
backend/__pycache__
/.vscode

# dependencies
/alumnimanagement/node_modules
/alumnimanagement/.pnp
/alumnimanagement/.pnp.js

# testing
/alumnimanagement/coverage

# production
/alumnimanagement/build

# misc
/alumnimanagement/.DS_Store
/alumnimanagement/.env.local
/alumnimanagement/.env.development.local
/alumnimanagement/.env.test.local
/alumnimanagement/.env.production.local

/alumnimanagement/npm-debug.log*
/alumnimanagement/yarn-debug.log*
/alumnimanagement/yarn-error.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
