env/
backend/alembic.ini
backend/sayang.py
backend/config.py
backend/account.py
backend/__pycache__

apmsenv/
.vscode

alumnimanagement/node_modules
alumnimanagement/.pnp
alumnimanagement/.pnp.js
alumnimanagement/coverage
alumnimanagement/build
alumnimanagement/.DS_Store
alumnimanagement/.env.local
alumnimanagement/.env.development.local
alumnimanagement/.env.test.local
alumnimanagement/.env.production.local
alumnimanagement/npm-debug.log*
alumnimanagement/yarn-debug.log*
alumnimanagement/yarn-error.log*

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
