backend/migrate
backend/database.py
backend/alembic.ini
backend/sayang.py
backend/config.py
backend/account.py
env/

/.vscode

# dependencies
/alumnimanagement/node_modules
/alumnimanagement/.pnp
/alumnimanagement/.pnp.js

# testing
/alumnimanagement/coverage

# production
/alumnimanagement/build

# misc
/alumnimanagement/.DS_Store
/alumnimanagement/.env.local
/alumnimanagement/.env.development.local
/alumnimanagement/.env.test.local
/alumnimanagement/.env.production.local

/alumnimanagement/npm-debug.log*
/alumnimanagement/yarn-debug.log*
/alumnimanagement/yarn-error.log*
