alembic           
annotated-types   
anyio             
asyncpg           
bcrypt            
cffi              
click             
cryptography      
dnspython         
ecdsa             
email-validator   
fastapi           
greenlet          
h11               
idna              
iso8601           
Mako              
MarkupSafe        
passlib           
pip               
psycopg2-binary   
pyasn1            
pycparser         
pydantic          
pydantic_core     
python-dotenv     
python-jose       
python-multipart  
pytz              
rsa               
setuptools        
six               
sniffio           
SQLAlchemy        
starlette         
typing_extensions 
uvicorn           
# dunno