
.topbar{
  color: #e7e7e7;
  width: 100%;
  height: 75px;
  background: #282a3e;
}


.topbarWrapper{
  height: 100%;
  padding: 0 20px;  
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.topbarTitle{
  font-weight: 900;
  font-size: 2rem;
}

.topbarFunctions{
  border-right: 2px solid #e7e7e7;
  font-weight: bolder;
}